:host ::ng-deep .compact-form-field .mat-mdc-form-field-flex {
  height: 48px !important;
  align-items: center !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

:host ::ng-deep .compact-form-field .mat-mdc-text-field-wrapper {
  height: 48px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

:host ::ng-deep .compact-form-field input.mat-mdc-input-element {
  margin-top: -4px;
}