SECRET_KEY_JWT=''
SECRET_KEY_REFRESH=''

ROUTE_API=''
ROUTE_API=''

DB_URL=""
DB_TYPE=
DB_USER=
DB_PASSWORD=''
DB_HOST=
DB_PORT=
DB_NAME=

USER_ADMIN=''
PASSWORD_ADMIN=''

DIRECTORY_IMG=''

DEBUG = True